* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(143, 238, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.poke_data {
    position: absolute;
    bottom: 80%;
}

#pokeName {
    text-transform: capitalize;
}

#pokeimg {
    position: absolute;
    width: 5%;
    top: 28%;   
    left: 47%;
}

.form {
    position: absolute;
    width: 65%;
    top: 42%;
    left: 19%;
}

.buttons {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    top: 45%;
    left: 49%;
}

#pokestats {
    position: absolute;
    width: 9%;
    top: 48%;
    left: 48%;
    background-color: beige;
    padding: 10px;
    border-radius: 8%;
}